{
  "extends": "airbnb-base/legacy",
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "func-names": "off",
    "no-param-reassign": "off",
    "semi": ["error", "never"],
    "vars-on-top": "off",
  },
}
