html {
  background-color: #f9f9f9;
}

body {
  width: 900px;
  margin: 40px auto 0;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
}

button#simulate {
  border: 2px solid #5b5b5b;
  background-color: #efefef;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #262626;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  position: absolute;
  right: 15px;
  top: 77px;
}

button#simulate:hover {
  background-color: #bcbcbc;
}

#vote-tally {
  position: absolute;
  top: 117px;
  right: 20px;
  text-align: justify;
}

#instructions {
  position: absolute;
  top: 371px;
  left: 8px;
  font-size: 0.75em;
  text-align: left;
}

#instructions strong {
  font-size: 11px;
}

.yay-label {
  color: #2ca02c;
  margin-top: 8px;
  margin-bottom: 0;
}

.nay-label {
  margin-top: 5px;
  color: #d62728;
}

.arrow {
  fill: #999;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
}

.vote.yay {
  fill: #2ca02c;
}

.vote.nay {
  fill: #d62728;
}

.vote.isDelegated {
  opacity: .7;
}

svg {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: white;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

footer {
  position: absolute;
  top: 498px;
  left: 374px;
  font-size: 12px;
  color: #888;
}

footer a {
  opacity: .5;
}

footer a:hover {
  opacity: 1;
}
